# Churn Modelling
## Attempting to develop a churn model for a TELECOMM company
### Selected a Data Set from Kaggle
### Expected to run this model against real data eventually

In [1]:
#imports 

#import libraries
import pandas as pd
import numpy as np
import matplotlib as mplot
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn
import pylab as pl

#import other functions
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

#import estimators
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

#model metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

#cross validation
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

#Sqrt
from math import sqrt

## Read and verify data set
### Data Set retrieved from Kaggler
### Copied on local HDD

In [4]:
#data
rawData = pd.read_csv(r'C:\Users\maavila\Documents\CURSO-BigData-DD\Module V\Task IV\TELCO-Customer-Churn.csv', header =0)
rawData.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

#Let´s see the size of our data

In [6]:
rawData.shape

(7043, 21)

### 7043 rows
### 21 columns with 19 attributes
### Only 11 missing values (next item)